
<div class="container">

  <section ng-controller="HomeCtrl as room">

    <!-- Display Messages -->
    <div class="messages-container">
      <div>
        <h3>
          Room: <span class="nameOfUser">{{ room.currentRoom.$value }}</span>
        </h3>
      </div>

      <div>
          <textarea ng-model="room.newMessage.content" id="textarea" placeholder="ermmm..." required></textarea>
          <div class="sendMessage" ng-click="room.sendMessage()">Send</div>
      </div>


      <div class="messagesBody" ng-repeat="message in room.messages">
          <div class="username">
            username:  {{ message.username }}
          </div>
          <div class="userMessage">
            message:  {{ message.content }}
          </div>
          <div class="timeStamp">
            sent at:  {{ message.sentAt | date: "shortTime" }}
          </div>
      </div>
    </div>

    <!-- List of Rooms -->
    <nav class="rooms-list">
    <h4>+Rooms+</h4>

    <div class="chatRooms" ng-repeat="room in room.rooms">
      <div class="buttonArea" ng-click="$parent.room.setCurrentRoom(room)">
        <a ng-href="/">
          {{ room.$value }}
        </a>
      </div>
    </div>

    <!-- New Chat Button -->
    <br>
      <button type="button" class="btn btn-default" ng-click="room.addRoom()">
      <span class="ion-plus-round">new chat room</span>
      </button>
    </br>
    </nav>

  </section>
</div>





</div>
